.SplitPane {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .SplitPane-left {
    flex: 1;
    height: 100%;
    overflow: auto;
    background-color: var(--pink);
  }
  .SplitPane-right {
      flex: 2;
      height: 100%;
      overflow: auto;
      background-color: var(--gray);
  }