form {
  display: flex;
  flex-direction: column;
}

input[type="search"],
select {
  padding: 1em;
  border-radius: 0.3rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.2em;
}
select {
    border-right: 25px solid transparent;
}

button{
    border-radius: 0.3rem;
    font-size: 1.5rem;
    padding: .5em;
    background-color: var(--blue);
}