.divStyle {
  padding: 0.7em 1em;
  color: blue;
  background-color: red;
  text-align: center;
  justify-content: center;
  height: 20vh;
  font-size: 2em;
  width: 40%;
  margin: auto;
  border: 2px solid black;
  border-radius: 30px;
}
